.headerWrapper {
  background: rgba($dark-slate-blue, 0.15);
  width: 100%;
  height: $headerHeight + 1px;
}

.header {
  padding: 0;
  height: $headerHeight;
  z-index: 30;
  padding-left: $sidebarWidth;
  box-shadow: none;

  .bp3-navbar-group {
    @extend .horizontalCenter;
    height: $headerHeight;

    &.bp3-align-left {
      justify-content: flex-start;
    }
    &.bp3-align-right {
      justify-content: flex-end;
    }
  }

  @include tabletDown {
    height: 60px;

    .bp3-navbar-group {
      height: 60px;
      padding: 0 $mobile;

      &.bp3-align-left {
        width: auto;
        max-width: none;
      }
      &.bp3-align-right {
        width: auto;
        min-width: auto;
      }
    }
    .logoContainer {
      min-width: 150px;

      .logo {
        display: block;
        width: 150px;
        height: auto;
      }
    }

    .hamburgerItem,
    .hamburgerItem.bp3-button:not([class*="bp3-intent-"]) {
      width: 40px;
      padding: 0;
      text-align: center;

      .bp3-icon:first-child:last-child {
        margin: 0;
        position: relative;
        top: -1px;
      }

      span,
      .bp3-button-text {
        padding: 0;

        .bp3-icon {
          padding: 0;
        }
      }
    }
  }
}

.headerItem {
  height: $headerHeight;

  @include tabletDown {
    height: 60px;
    padding: 0;
  }
}

.headerMenu {
  min-width: auto;
  width: max-content;
  display: flex;
  flex-direction: row;
  padding: 0 20px;

  li {
    margin: 0;

    .menuItem,
    .menuItem.bp3-menu-item {
      padding: 22px 9px;
      margin: 0 20px;
      border-radius: 0;
      border-bottom: 4px transparent solid;

      .bp3-fill {
        letter-spacing: 1.24px;
        font-size: 0.9rem;
      }

      &.bp3-active {
        border-bottom: 4px $turquoise-blue solid;

        .bp3-fill {
          font-weight: bold;
        }
      }
      &.bp3-active,
      &:hover {
        background: transparent;
      }
    }
  }
}

.darkMode .header {
  background: $dark-gray2;
}

.lightMode .header {
  background: white;
}
