.ic, .ic2 {
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
}

.ic {
	font-family: 'IconSet1';
}

.ic2 {
	font-family: 'IconSet2';
}

// Set 2
.icArrow1:before {
  content: "\e900";
}
.icArrow2:before {
  content: "\e901";
}
.icArrow3:before {
  content: "\e902";
}
.icArrow4:before {
  content: "\e903";
}
.icArrow5:before {
  content: "\e904";
}

// Set 1

.icPlus1:before {
  content: "\e92d";
}
.icPlus2:before {
  content: "\e92e";
}
.icPlay1:before {
  content: "\e927";
}
.icPlay2:before {
  content: "\e928";
}
.icVideo1:before {
  content: "\e929";
}
.icVideo2:before {
  content: "\e92a";
}
.icCasestudy1:before {
  content: "\e92b";
}
.icEducation1:before {
  content: "\e92c";
}
.icComet1:before {
  content: "\e91a";
}
.icComet2:before {
  content: "\e91b";
}
.icComet3:before {
  content: "\e91c";
}
.icAlien1:before {
  content: "\e91d";
}
.icAlien2:before {
  content: "\e91e";
}
.icRocket1:before {
  content: "\e91f";
}
.icScience1:before {
  content: "\e923";
  color: #000;
}
.icPlanet1:before {
  content: "\e920";
}
.icPlanet2:before {
  content: "\e921";
}
.icPlanet3:before {
  content: "\e922";
}
.icPlanet4:before {
  content: "\e924";
}
.icPlanet5:before {
  content: "\e925";
}
.icPlanet6:before {
  content: "\e926";
}
.icMission1:before {
  content: "\e914";
}
.icMission2:before {
  content: "\e915";
}
.icMission3:before {
  content: "\e916";
}
.icStory1:before {
  content: "\e917";
}
.icStory2:before {
  content: "\e918";
}
.icStory3:before {
  content: "\e919";
}
.icBuilding1:before {
  content: "\e905";
}
.icBuilding2:before {
  content: "\e906";
}
.icCode1:before {
  content: "\e907";
}
.icFood1:before {
  content: "\e908";
}
.icGames1:before {
  content: "\e909";
}
.icHealth1:before {
  content: "\e90a";
}
.icIdea1:before {
  content: "\e90b";
}
.icLayout1:before {
  content: "\e90c";
}
.icMobile1:before {
  content: "\e90d";
}
.icMobile2:before {
  content: "\e90e";
}
.icOrg1:before {
  content: "\e90f";
}
.icPaint1:before {
  content: "\e910";
}
.icPaint2:before {
  content: "\e911";
}
.icPhoto1:before {
  content: "\e912";
}
.icSearch1:before {
  content: "\e913";
}
.icEmail1:before {
  content: "\e903";
}
.icChevron1:before {
  content: "\e904";
}
.icGear1:before {
  content: "\e901";
}
.icGear2:before {
  content: "\e902";
}
.icClose:before {
  content: "\e900";
}
