* {
  font-family: $bFont;
  word-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6,
span {
  padding: 0;
  margin: 0;
  color: white;
}

.headline {
  font-size: 3rem;

  @include tabletDown {
    font-size: 2rem;
  }
}

.darkHeadline {
  color: $dark-gray1 !important;
}

.textCenter {
  display: block;
  text-align: center;
}

ul,
ol {
  padding: 0;
  list-style: none;

  li {
    margin-bottom: 7px;

    &:last-of-type {
      margin-bottom: 0px;
    }
  }
}

a {
  &:hover,
  &:active,
  &:focus,
  &:visited,
  & {
    font-size: 0.8rem;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.08px;
    color: $turquoise-blue;
    text-decoration: underline;

    .bp3-icon {
      svg {
        fill: $turquoise-blue;
        width: 12px;
        height: 12px;
        position: relative;
        top: -2px;
        margin-right: 3px;
      }
    }
  }
}
